<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Consulta</title>
</head>
<body>

    <h1> Visualizar Consultas </h1>
    
    <h2>Paciente: {{ consultas.paciente }}</h2>
    <p><strong>Médico:</strong> {{ consultas.medico.nome }}</p>
    <p><strong>Especialidade:</strong> {{ consultas.medico.especialidade }}</p>

    <a href="{% url 'listar_medicos' %}"> Voltar </a>
    
</body>
</html>